<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:property-placeholder location="classpath:/com/joham/config/mq.properties"/>

    <!-- 配置JMS连接工厂 -->
    <bean id="connectionFactory"
          class="org.springframework.jms.connection.CachingConnectionFactory">
        <!-- Session缓存数量 -->
        <property name="sessionCacheSize" value="${amq.sessionCacheSize}"/>
        <property name="targetConnectionFactory">
            <bean class="org.apache.activemq.ActiveMQConnectionFactory">
                <property name="brokerURL" value="${amq.brokerUrl}"/>
                <property name="userName" value="${amq.userName}"/>
                <property name="password" value="${amq.password}"/>
                <!-- 是否异步发送 -->
                <property name="useAsyncSend" value="true"/>
            </bean>
        </property>
    </bean>

    <!-- converter -->
    <bean id="jmsMessageConverter"
          class="org.springframework.jms.support.converter.SimpleMessageConverter"/>

    <!-- queue -->
    <bean id="jmsQueueTemplate" class="org.springframework.jms.core.JmsTemplate">
        <constructor-arg ref="connectionFactory"/>
        <property name="pubSubDomain" value="false"/>
        <property name="messageConverter" ref="jmsMessageConverter"/>
    </bean>

    <!-- listener -->
    <bean id="jmsListenerContainerFactory"
          class="org.springframework.jms.config.DefaultJmsListenerContainerFactory">
        <property name="connectionFactory" ref="connectionFactory"/>
    </bean>

    <!-- template -->
    <bean id="jmsMessagingTemplate" class="org.springframework.jms.core.JmsMessagingTemplate">
        <property name="jmsTemplate" ref="jmsQueueTemplate"/>
    </bean>
</beans>