<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.joham.web.dao.UserMapper">
	<resultMap type="com.joham.adminUser.bean.User" id="BaseResultMap">
		<id column="user_id" property="userId" jdbcType="BIGINT"/>
		<id column="user_name" property="userName" jdbcType="VARCHAR"/>
		<id column="password" property="password" jdbcType="VARCHAR"/>
		<id column="delflag" property="delflag" jdbcType="CHAR"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		user_id,user_name,password,delflag
	</sql>
	
	<select id="checkLogin" resultMap="BaseResultMap" parameterType="java.util.Map">
		select 	
		<include refid="Base_Column_List"/>
		from np_user
		where user_name=#{username} and password=#{password}
	</select>
	
	<insert id="save" parameterType="com.joham.adminUser.bean.User">
		insert into np_user(user_id,user_name,password,delflag) values(#{userId,jdbcType=BIGINT},
		#{userName,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},#{delflag,jdbcType=CHAR})
		<selectKey keyProperty="user_id" resultType="java.lang.Long">
			select LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<select id="checkUserName" resultMap="BaseResultMap" parameterType="java.util.Map">
		select 	
		<include refid="Base_Column_List"/>
		from np_user
		where user_name=#{username} 
	</select>
	
	<select id="findUser" resultMap="BaseResultMap" parameterType="java.util.Map">
		select 	
		<include refid="Base_Column_List"/>
		from np_user
		where user_id=#{userId} 
	</select>
	
	<select id="update" parameterType="com.joham.adminUser.bean.User">
		update np_user set password=#{password} where user_id=#{userId}
	</select>
</mapper>